<section class="container">
	<form name="addTodoForm" class="form-inline">
		<div ng-repeat="error in errors" class="alert alert-danger">{{ error }}</div>
		<div class="form-group">
			<label class="sr-only" for="newTodoTitle">New todo title</label>
			<input id="newTodoTitle" type="text" class="form-control" placeholder="New todo title" ng-model="newTodoTitle" required ng-minlength="5" maxlength="50">
		</div>
		<button class="btn btn-primary" ng-click="addTodo()" ng-disabled="addTodoForm.$invalid">Add</button>
	</form>
</section>
<section id="main" class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Todo</th>
				<th>Completed?</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in todos | filter:searchText">
				<td>{{todo.title}}</td>
				<td><span class="label label-success" ng-show="todo.completed">Done</span> <span class="label label-info"
					ng-hide="todo.completed">Open</span></td>
				<td>{{todo.due | date}}</td>
				<td><button class="btn" ng-click="edit(todo.id)">Edit</button></td>
			</tr>
		</tbody>
	</table>
</section>
