<!DOCTYPE html>
<html>
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">AngularJS / Spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link th:href="@{'/webjars/bootstrap/' + #{bootstrap.version} + '/css/bootstrap.min.css'}" rel="stylesheet" />
<link th:href="@{/assets/style.css}" rel="stylesheet" />
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<!  [endif]-->
</head>
<body ng-app="todo">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/list">Todo</a>
			</div>
			<nav>
				<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
					<li><span class="navbar-text" th:text="${#authentication.name}">User</span></li>
					<li>
						<a href="#" logout-link="" th:text="#{btn.logout}">Logout</a>
						<form class="hidden" id="logout" method="post" th:action="@{/logout}"></form>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="container-fluid" layout:fragment="content"></div>

	<script th:src="@{'/webjars/angularjs/' + #{angularjs.version} + '/angular.js'}"></script>
	<script th:src="@{'/webjars/angularjs/' + #{angularjs.version} + '/angular-route.js'}"></script>
	<script th:src="@{'/webjars/angularjs/' + #{angularjs.version} + '/angular-messages.js'}"></script>
	<script th:src="@{'/webjars/angularjs/' + #{angularjs.version} + '/i18n/angular-locale_' + ${#strings.toLowerCase(#locale.language)} + '.js'}"></script>
	<script th:if="${!#strings.isEmpty(#locale.country)}" th:src="@{'/webjars/angularjs/' + #{angularjs.version} + '/i18n/angular-locale_' + ${#strings.toLowerCase(#locale.language + '-' + #locale.country)} + '.js'}"></script>
	<script th:src="@{'/webjars/angular-ui-bootstrap/' + #{angular-ui-bootstrap.version} + '/ui-bootstrap-tpls.js'}"></script>
	<script th:src="@{/assets/app.js}"></script>
</body>
</html>
