<section class="container">
	<form name="editTodoForm">
		<div class="form-group" ng-class="{'has-error': editTodoForm.title.$invalid}">
			<label for="todo.title" class="control-label" th:text="#{todo.title}">Title</label>
			<input type="text" class="form-control" ng-model="todo.title" name="title" id="todo.title" required="required" minlength="5" maxlength="50" />
			<div ng-messages="editTodoForm.title.$error" ng-if="editTodoForm.title.$touched">
				<div ng-message="required">This field is required</div>
				<div ng-message="minlength">Enter at least 5 characters</div>
			</div>
		</div>
		<div class="form-group">
			<label for="todo.due" class="control-label" th:text="#{todo.due}">Due</label>
			<datepicker id="todo.due" ng-model="todo.due" show-weeks="true"></datepicker>
		</div>
		<div class="checkbox">
			<label class="checkbox"><input type="checkbox" ng-model="todo.completed" /><span th:text="#{todo.completed}">Completed?</span></label>
		</div>
		<button class="btn btn-primary" ng-click="save()" ng-disabled="editTodoForm.$invalid" th:text="#{btn.save}">Save</button>
		<a class="btn btn-default" href="#/list" th:text="#{btn.back_to_list}">Back to List</a>
	</form>
</section>