<section class="container">
	<form name="addTodoForm" class="form-inline">
		<div class="form-group">
			<label for="todo.title" class="sr-only" th:text="#{todo.new_todo}">New todo</label>
			<input id="todo.title" type="text" class="form-control" th:placeholder="#{todo.new_todo}" ng-model="newTodoTitle" required="" ng-minlength="5" maxlength="50"/>
		</div>
		<button class="btn btn-primary" ng-click="addTodo()" ng-disabled="addTodoForm.$invalid" th:text="#{btn.add}">Add</button>
	</form>
</section>
<section id="main" class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="#{todo.title}">Todo</th>
				<th th:text="#{todo.completed}">Completed?</th>
				<th th:text="#{todo.due}">Due</th>
				<th>
					<form class="form-inline pull-right">
						<div class="form-group">
							<label for="search" class="sr-only" th:text="#{lbl.search}">Search</label> 
							<input type="search" class="form-control" ng-model="searchText" id="search" th:placeholder="#{lbl.search}"/>
						</div>
					</form>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in todos | filter:searchText">
				<td>{{todo.title}}</td>
				<td>
					<span class="label label-success" ng-if="todo.completed" th:text="#{todo.completed_true}">Done</span>
					<span class="label label-info" ng-if="!todo.completed"  th:text="#{todo.completed_false}">Open</span></td>
				<td>{{todo.due | date}}</td>
				<td><button class="btn" ng-click="edit(todo.id)" th:text="#{btn.edit}">Edit</button></td>
			</tr>
		</tbody>
	</table>
</section>
