<!doctype html>
<html lang="en" ng-app="todo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>AngularJS / Spring • Todo App</title>
<link rel="stylesheet" href="css/bootstrap.css">
<style>
[ng-cloak] {
	display: none;
}

body {
	margin-top: 50px;
}
</style>
</head>
<body ng-controller="TodoCtrl">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#/list">Todo</a>
				<form class="navbar-form pull-right">
					<div class="input-prepend">
						<span class="add-on">Search</span> <input type="text" ng-model="searchText">
					</div>
				</form>
			</div>
		</div>
	</div>
	<section class="container" ng-cloak>
		<form name="addTodoForm" class="form-inline">
			<div ng-repeat="error in errors" class="alert">{{ error }}</div>
			<input type="text" ng-model="newTodoTitle" required ng-minlength="5" maxlength="50">
			<button class="btn btn-priary" ng-click="addTodo()" ng-disabled="addTodoForm.$invalid">Add</button>
		</form>
	</section>
	<section id="main" class="container" ng-cloak>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Todo</th>
					<th>Completed?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="todo in todos | filter:searchText">
					<td>{{todo.title}}</td>
					<td><span class="label label-success" ng-show="todo.completed">Done</span> <span class="label label-info"
						ng-hide="todo.completed">Open</span></td>
				</tr>
			</tbody>
		</table>
	</section>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
</body>
</html>